* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body,
html {
  font-family: roboto;
  position: relative;
  z-index: 99999;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-end {
  justify-content: flex-end;
}

.justify-spaceBetween {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.mar10 {
  margin: 10px;
}

/* >>>>>>>>>> Form register, login <<<<<<<<<<<<< */

.form-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.form-register {
  background-image: url(assets/formRegister.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.form {
  width: 350px;
  background-color: #0000004a;
  padding: 24px;
  border-radius: 4px;
}

.inputGroup {
  width: 100%;
  padding: 8px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  outline: none;
  margin-bottom: 24px;
  font-size: 18px;
  color: white;
}

.inputGroup::placeholder {
  color: rgba(255, 255, 255, 0.253);
}

.btnForm {
  /* display: block; */
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: rgb(40 184 91);
  color: white;
  transition: 0.3s;
  cursor: pointer;
  /* margin-bottom: 8px; */
  font-size: 18px;
  font-weight: 500;
}
.btnForm:hover {
  background-color: rgb(34 161 79);
}

.btnForm-link {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  transition: 0.3s;
  background-color: rgb(243, 183, 53);
  cursor: pointer;
  color: white;
  font-weight: 500;
  margin-top: 16px;
}

.btnForm-link:hover {
  background-color: rgb(204, 153, 44);
}

.error-msg {
  color: rgb(204, 153, 44);
  transform: translateY(-18px);
  font-style: italic;
  font-size: 14px;
}

/* >>>>>>>>>>> Hall <<<<<<<<<<<<<<< */
.hall-background {
  background-image: url(assets/background2.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* >>>>>>>>>>>> header <<<<<<<<<<<<<< */
.hall-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  color: white;
  height: 15vh;
  font-size: 20px;
}

.userName {
  margin-left: 12px;
  color: rgb(243, 183, 53);
}

.items {
  cursor: pointer;
  padding: 0 20px;
  transition: 0.3s;
  position: relative;
}

.items:hover {
  color: rgb(243, 183, 53);
}

.rankNumber {
  font-size: 52px;
  text-align: center;
  color: rgb(243, 183, 53);
  font-weight: 600;
}

.addFriend {
  position: absolute;
  width: 250px;
  background-color: rgb(164, 51, 51);
  right: 17px;
  top: 36px;
  border-radius: 8px;
  height: 370px;
  box-shadow: 2px 4px 8px 0 inset #eee5e56b;
  padding: 16px;
  cursor: default;
  display: none;
}
.addFriend-form {
  border-bottom: 1px solid white;
  display: flex;
  padding-bottom: 10px;
}
.addFriend-input {
  padding: 5px;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  color: white;
}

.addFriend-input::placeholder {
  color: rgba(255, 255, 255, 0.308);
}
.addFriend-btn {
  background: none;
  outline: none;
  border: none;
  font-size: 24px;
  color: orange;
  cursor: pointer;
  margin-left: -7px;
}

.tutorial-container {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100vh;
  display: none;
}

.tutorial-form {
  width: 730px;
  height: 500px;
  background-color: rgb(164, 51, 51);
  border-radius: 20px;
  position: absolute;
  z-index: 10;
  list-style: none;
  padding: 24px;
}

.rule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.rule-number {
  width: 8%;
  height: 53px;
  border-radius: 50px;
  border: 4px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  box-shadow: 1px 2px 10px 0 inset #f0b40c;
}

.rule-content {
  width: 87%;
}

.bgr-black {
  background-color: #0000005c;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

/* >>>>>>>>>>>> body <<<<<<<<<<<<<< */
.hall-body {
  height: 60vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.typePlay {
  background-color: #c31629;
  height: 200px;
  width: 300px;
  color: white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 36px;
  box-shadow: 3px 5px 4px 0 inset #00000073;
  cursor: pointer;
  transition: width 0.5s, height 0.5s, background-color 1s, transform 1s;
}
.typePlay:hover {
  width: 350px;
  height: 220px;
  transform: rotate(15deg);
}

.typePlaySolo,
.typePlayWithFr {
  padding: 30px;
}

/* >>>>>>>>>>>> footer <<<<<<<<<<<<<< */
.hall-footer {
  height: 25vh;
  position: relative;
}

.imgWheel {
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
}

.ranking {
  display: flex;
  position: absolute;
  align-items: center;
  font-size: 24px;
  color: white;
  left: 50px;
  top: 50px;
}

.rankingImg {
  left: 50px;
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 12px;
  bottom: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 8px 0 inset #eeeeee;
  margin-right: 12px;
}

.music {
  position: absolute;
  right: 63px;
  font-size: 32px;
  color: white;
  border: 2px solid white;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  cursor: pointer;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.music:hover i {
  color: rgb(243, 183, 53);
}

.musicPlaying {
  display: none;
}

.music.playing .musicPlaying {
  display: block;
}

.music.playing .musicPause {
  display: none;
}

/*---- playNow, playWithFriends -----*/
.playnow-container {
  background-image: url(assets/background2.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  flex-direction: column;
  padding: 3%;
  margin: 0;
}
.playnow-header {
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.playnow-homebutton {
  color: white;
  cursor: pointer;
  margin-right: 60%;
  font-size: larger;
  width: fit-content;
}
.pwf-invite-friends-area {
  color: white;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pwf-friendlist {
  display: none;
  font-size: larger;
  position: absolute;
  background-color: #eeeeee;
  width: fit-content;
  padding: 6px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
  z-index: 10;
}
.pwf-email-display {
  background-color: rgba(66, 66, 66, 0.384);
  margin-top: 6px;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
}
.pwf-email-display:hover {
  background-color: rgb(49, 49, 49);
}
.pwf-close-button {
  width: 10%;
  margin: 2% 88%;
  border-radius: 500px;
  text-align: center;
  cursor: pointer;
}
.playnow-content {
  width: 90%;
  height: 600px;
  border-radius: 360px;
  border: 2px solid #daa520;
  position: relative;
}
.playnow-question-answer-container {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 200px;
  background-color: rgba(0, 0, 0, 0.281);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.playnow-question {
  padding: 1.8%;
  color: white;
  font-size: larger;
}
.playnow-question-answer-container > button {
  width: 10%;
  padding: 0.6%;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(66, 132, 255);
  color: white;
  cursor: pointer;
}
.playnow-user-common {
  background-color: black;
  border-radius: 8px;
  width: fit-content;
  padding: 0.6%;
  color: #daa520;
  position: absolute;
}
.playnow-user1 {
  top: 48%;
  left: -2%;
}
.playnow-user3 {
  top: 48%;
  right: -2%;
}
.playnow-user2 {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.playnow-user4 {
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

